.jumbotron {
    background-attachment: fixed;
    background-image: url("https://images.unsplash.com/photo-1504805572947-34fad45aed93?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.socmed>h3>a:hover {
    color: rgba(0, 0, 0, 0.5) !important;
}

hr {
    height: 5px !important;
}